In [1]:
import camelot
import pandas as pd

In [2]:
pdf_path = "relacion-de-postulantes-preseleccionados.pdf"
tables = camelot.read_pdf(filepath=pdf_path, pages='all', flavor='stream')

In [3]:
# Crear un DataFrame vacío para almacenar todas las tablas
all_tables = pd.DataFrame()

# Iterar sobre todas las tablas y agregar cada DataFrame al DataFrame global
for table in tables:
    all_tables = pd.concat([all_tables, table.df], ignore_index=True)

In [112]:
all_tables.shape

(31627, 10)

In [113]:
all_tables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31627 entries, 0 to 31626
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       31627 non-null  object
 1   1       31627 non-null  object
 2   2       31627 non-null  object
 3   3       31627 non-null  object
 4   4       31627 non-null  object
 5   5       31627 non-null  object
 6   6       31627 non-null  object
 7   7       31627 non-null  object
 8   8       31627 non-null  object
 9   9       2267 non-null   object
dtypes: object(10)
memory usage: 2.4+ MB

In [114]:
filter_tabs = all_tables[
    (all_tables[all_tables.columns[0]] != 'N°') &  # Eliminar filas con "N°" en la primera columna
    (all_tables[all_tables.columns[6]] != 'CONDICIONES') &  # Eliminar filas con "CONDICIONES" en la columna 6
    (all_tables[all_tables.columns[6]] != 'PRIORIZABLES') &  # Eliminar filas con "PRIORIZABLES" en la columna 6
    (all_tables[all_tables.columns[7]] != 'CONDICIONES') &  # Eliminar filas con "CONDICIONES" en la columna 6
    (all_tables[all_tables.columns[7]] != 'PRIORIZABLES') & 
    ~all_tables[all_tables.columns[0]].str.startswith('TABLA') &   # Eliminar filas donde la primera columna empieza con "TABLA"
    ~all_tables[all_tables.columns[1]].str.startswith('TABLA') &
    ~all_tables[all_tables.columns[4]].str.startswith('ANEXO') &
    ~all_tables[all_tables.columns[4]].str.startswith('RESOLUCIÓN') &
    ~all_tables[all_tables.columns[4]].str.startswith('BECA') &
    ~all_tables[all_tables.columns[0]].str.startswith('Esta') &
    ~all_tables[all_tables.columns[0]].str.startswith('Final') &
    ~all_tables[all_tables.columns[0]].str.startswith('Su')
]

In [115]:
filter_tabs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29154 entries, 3 to 31623
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       29154 non-null  object
 1   1       29154 non-null  object
 2   2       29154 non-null  object
 3   3       29154 non-null  object
 4   4       29154 non-null  object
 5   5       29154 non-null  object
 6   6       29154 non-null  object
 7   7       29154 non-null  object
 8   8       29154 non-null  object
 9   9       2118 non-null   object
dtypes: object(10)
memory usage: 2.4+ MB

In [118]:
filter_tabs[filter_tabs.iloc[:, 9].notna()] # Estos registros son los 2118 que tienen una columna adicional donde la 3ra columna es la POBLACION

,0,1,2,3,4,5,6,7,8,9
22714,1,Beca CNA y PA,Comunidad Nativa Amazónica,61275706,ABAD AQUINO LEYDI SAMIRA,TACNA,64,7,71,PRESELECCIONADO
22715,2,Beca CNA y PA,Comunidad Nativa Amazónica,76837229,ABAD TORIBIO ALEXANDRA ANHELY,JUNIN,58,7,65,PRESELECCIONADO
22716,3,Beca CNA y PA,Comunidad Nativa Amazónica,60132472,ABANTO CHASHNAMOTE RUZEL,SAN MARTIN,48,12,60,PRESELECCIONADO
22717,4,Beca CNA y PA,Comunidad Nativa Amazónica,74493877,ABENSUR BUENDIA MIKHAL ANGELINA,UCAYALI,70,10,80,PRESELECCIONADO
22718,5,Beca CNA y PA,Comunidad Nativa Amazónica,60565492,ABILA GASPAR DADDY ALEXIS,JUNIN,68,4,72,PRESELECCIONADO
...,...,...,...,...,...,...,...,...,...,...
25067,2114,Beca CNA y PA,Población afroperuana,60247237,ZEVALLOS MISAICO LUIS GEARITSON,ICA,62,0,62,PRESELECCIONADO
25068,2115,Beca CNA y PA,Población afroperuana,62220383,ZURITA GARCIA DELIA,PIURA,42,4,46,PRESELECCIONADO
25069,2116,Beca CNA y PA,Población afroperuana,75159215,ZURITA GARCIA DUBERLY,PIURA,32,7,39,PRESELECCIONADO
25070,2117,Beca CNA y PA,Población afroperuana,60478854,ZURITA ROMAN GREYLI YOCSANY,PIURA,44,7,51,PRESELECCIONADO
25071,2118,Beca CNA y PA,Población afroperuana,60478945,ZURITA SANTOS ESTHER MEDALY,PIURA,54,4,58,PRESELECCIONADO

In [119]:
filter_tabs[1].unique() # La lista tiene como valor el valor de ''. Esto significa que hay registro donde no aparece el nombre de beca

array(['Beca 18 ORDINARIA', '', 'Beca CNA y PA', 'Beca EIB', 'Beca FFAA',
       'Beca HUALLAGA', 'BECA PROTECCIÓN', 'BECA REPARED', 'BECA VRAEM'],
      dtype=object)

In [120]:
ls_becas = ['Beca 18 ORDINARIA','Beca CNA y PA','Beca EIB','Beca FFAA','Beca HUALLAGA','BECA PROTECCIÓN','BECA REPARED','BECA VRAEM']

In [121]:
df_beca18 = filter_tabs[filter_tabs[1]=="Beca 18 ORDINARIA"]
df_becaCNA = filter_tabs[filter_tabs[1]=="Beca CNA y PA"]
df_becaEIB = filter_tabs[filter_tabs[1]=="Beca EIB"]
df_becaFFAA = filter_tabs[filter_tabs[1]=="Beca FFAA"]
df_becaHUA = filter_tabs[filter_tabs[1]=="Beca HUALLAGA"]
df_becaPTR = filter_tabs[filter_tabs[1]=="BECA PROTECCIÓN"]
df_becaRPD = filter_tabs[filter_tabs[1]=="BECA REPARED"]
df_becaVRM = filter_tabs[filter_tabs[1]=="BECA VRAEM"]

In [ ]:
df_becaEmpty = filter_tabs[filter_tabs[1]==""] # Se guarda en un df donde no hay el tipo de beca especificado
df_becaEmpty # Estos registros sí tienen beca solo que al tener un nombre extenso se cuenta como un registro aparte sin tomar el campo de beca y los demas

In [125]:
df_becaRPD[df_becaRPD[2]=="60220251"] # Este es de un nombre extenso y ya se encuentra en el dataset de becaRPD

          0             1         2 3      4   5   6   7                8    9
28787  1334  BECA REPARED  60220251    JUNIN  52  12  64  PRESELECCIONADO  NaN

In [126]:
df_beca18[df_beca18[2]=="60167902"] # Este es de un nombre extenso y ya se encuentra en el dataset de beca18

,0,1,2,3,4,5,6,7,8,9
11964,10998,Beca 18 ORDINARIA,60167902,,TACNA,64,10,74,PRESELECCIONADO,NaN

In [127]:
print("Beca 18:", df_beca18.shape)
print("Beca CNA Y PA:", df_becaCNA.shape)
print("Beca EIB:", df_becaEIB.shape)
print("Beca FFAA:", df_becaFFAA.shape)
print("Beca HUALLAGA:", df_becaHUA.shape)
print("Beca PROTECCIÓN:", df_becaPTR.shape)
print("Beca REPARED:", df_becaRPD.shape)
print("Beca VRAEM:", df_becaVRM.shape)

Beca 18: (20936, 10)
Beca CNA Y PA: (2206, 10)
Beca EIB: (647, 10)
Beca FFAA: (430, 10)
Beca HUALLAGA: (842, 10)
Beca PROTECCIÓN: (102, 10)
Beca REPARED: (3123, 10)
Beca VRAEM: (852, 10)

In [128]:
print("Beca 18:", df_beca18[9].unique())
print("Beca CNA Y PA:", df_becaCNA[9].unique())
print("Beca EIB:", df_becaEIB[9].unique())
print("Beca FFAA:", df_becaFFAA[9].unique())
print("Beca HUALLAGA:", df_becaHUA[9].unique())
print("Beca PROTECCIÓN:", df_becaPTR[9].unique())
print("Beca REPARED:", df_becaRPD[9].unique())
print("Beca VRAEM:", df_becaVRM[9].unique())

Beca 18: [nan]
Beca CNA Y PA: ['PRESELECCIONADO' nan]
Beca EIB: [nan]
Beca FFAA: [nan]
Beca HUALLAGA: [nan]
Beca PROTECCIÓN: [nan]
Beca REPARED: [nan]
Beca VRAEM: [nan]

Se observa que solo en el dataset de beca CNA y PA hay registros que tienen en la ultima columna el valor de PRESELECCIONADO y el resto vacíos. Se abordará este dataset por separado para el resto de dataset se eliminará la última columna.

In [129]:
df_beca18_drop1 = df_beca18.drop(df_beca18.columns[-1], axis=1) # 3
df_becaEIB_drop1 = df_becaEIB.drop(df_becaEIB.columns[-1], axis=1) # 3
df_becaFFAA_drop1 = df_becaFFAA.drop(df_becaFFAA.columns[-1], axis=1) # 3
df_becaHUA_drop1 = df_becaHUA.drop(df_becaHUA.columns[-1],axis=1) # 3
df_becaPTR_drop1 = df_becaPTR.drop(df_becaPTR.columns[-1],axis=1) # 3
df_becaRPD_drop1 = df_becaRPD.drop(df_becaRPD.columns[-1],axis=1) # 3
df_becaVRM_drop1 = df_becaVRM.drop(df_becaVRM.columns[-1],axis=1) # 3

In [130]:
def eliminar_tercera_columna(df, col):
    # Verificar si el DataFrame tiene al menos tres columnas
    if df.shape[1] >= col:
        df.drop(df.columns[col], axis=1, inplace=True)
    else:
        print("El DataFrame no tiene suficientes columnas.")
    return df

def eliminar_ultima_columna(df):
    df.drop(df.columns[-1], axis=1, inplace=True)
    return df

In [131]:
df_beca18_drop2 = eliminar_tercera_columna(df_beca18_drop1, col=3)
df_becaEIB_drop2 = eliminar_tercera_columna(df_becaEIB_drop1, col=3)
df_becaFFAA_drop2 = eliminar_tercera_columna(df_becaFFAA_drop1, col=3)
df_becaHUA_drop2 = eliminar_tercera_columna(df_becaHUA_drop1,col=3)
df_becaPTR_drop2 = eliminar_tercera_columna(df_becaPTR_drop1,col=3)
df_becaRPD_drop2 = eliminar_tercera_columna(df_becaRPD_drop1,col=3)
df_becaVRM_drop2 = eliminar_tercera_columna(df_becaVRM_drop1,col=3)

In [132]:
df_beca18_clean = eliminar_ultima_columna(df_beca18_drop2)
df_becaEIB_clean = eliminar_ultima_columna(df_becaEIB_drop2)
df_becaFFAA_clean = eliminar_ultima_columna(df_becaFFAA_drop2)
df_becaHUA_clean = eliminar_ultima_columna(df_becaHUA_drop2)
df_becaPTR_clean = eliminar_ultima_columna(df_becaPTR_drop2)
df_becaRPD_clean = eliminar_ultima_columna(df_becaRPD_drop2)
df_becaVRM_clean = eliminar_ultima_columna(df_becaVRM_drop2)

In [133]:
titles = ['N°','MODALIDAD','DNI','REGION','PJ ENP', 'PJ CP', 'PJ FIN']

In [134]:
df_beca18_clean.columns = titles
df_becaEIB_clean.columns = titles
df_becaFFAA_clean.columns = titles
df_becaHUA_clean.columns = titles
df_becaPTR_clean.columns = titles
df_becaRPD_clean.columns = titles
df_becaVRM_clean.columns = titles

Ahora falta limpiar el dataset CNA Y PA

In [135]:
df_becaCNA.shape

(2206, 10)

In [136]:
df_becaCNA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2206 entries, 22714 to 25071
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2206 non-null   object
 1   1       2206 non-null   object
 2   2       2206 non-null   object
 3   3       2206 non-null   object
 4   4       2206 non-null   object
 5   5       2206 non-null   object
 6   6       2206 non-null   object
 7   7       2206 non-null   object
 8   8       2206 non-null   object
 9   9       2118 non-null   object
dtypes: object(10)
memory usage: 189.6+ KB

In [137]:
df_becaCNA_1 = df_becaCNA[df_becaCNA.iloc[:,9].notna()]
df_becaCNA_2 = df_becaCNA[~df_becaCNA.iloc[:,9].notna()]

In [138]:
df_becaCNA_1

,0,1,2,3,4,5,6,7,8,9
22714,1,Beca CNA y PA,Comunidad Nativa Amazónica,61275706,ABAD AQUINO LEYDI SAMIRA,TACNA,64,7,71,PRESELECCIONADO
22715,2,Beca CNA y PA,Comunidad Nativa Amazónica,76837229,ABAD TORIBIO ALEXANDRA ANHELY,JUNIN,58,7,65,PRESELECCIONADO
22716,3,Beca CNA y PA,Comunidad Nativa Amazónica,60132472,ABANTO CHASHNAMOTE RUZEL,SAN MARTIN,48,12,60,PRESELECCIONADO
22717,4,Beca CNA y PA,Comunidad Nativa Amazónica,74493877,ABENSUR BUENDIA MIKHAL ANGELINA,UCAYALI,70,10,80,PRESELECCIONADO
22718,5,Beca CNA y PA,Comunidad Nativa Amazónica,60565492,ABILA GASPAR DADDY ALEXIS,JUNIN,68,4,72,PRESELECCIONADO
...,...,...,...,...,...,...,...,...,...,...
25067,2114,Beca CNA y PA,Población afroperuana,60247237,ZEVALLOS MISAICO LUIS GEARITSON,ICA,62,0,62,PRESELECCIONADO
25068,2115,Beca CNA y PA,Población afroperuana,62220383,ZURITA GARCIA DELIA,PIURA,42,4,46,PRESELECCIONADO
25069,2116,Beca CNA y PA,Población afroperuana,75159215,ZURITA GARCIA DUBERLY,PIURA,32,7,39,PRESELECCIONADO
25070,2117,Beca CNA y PA,Población afroperuana,60478854,ZURITA ROMAN GREYLI YOCSANY,PIURA,44,7,51,PRESELECCIONADO
25071,2118,Beca CNA y PA,Población afroperuana,60478945,ZURITA SANTOS ESTHER MEDALY,PIURA,54,4,58,PRESELECCIONADO

In [139]:
df_becaCNA_1_clean = df_becaCNA_1.drop(df_becaCNA_1.columns[[2,4,9]],axis=1) # Eliminando las columnas 2,4,9
df_becaCNA_1_clean

          0              1         3           5   6   7   8
22714     1  Beca CNA y PA  61275706       TACNA  64   7  71
22715     2  Beca CNA y PA  76837229       JUNIN  58   7  65
22716     3  Beca CNA y PA  60132472  SAN MARTIN  48  12  60
22717     4  Beca CNA y PA  74493877     UCAYALI  70  10  80
22718     5  Beca CNA y PA  60565492       JUNIN  68   4  72
...     ...            ...       ...         ...  ..  ..  ..
25067  2114  Beca CNA y PA  60247237         ICA  62   0  62
25068  2115  Beca CNA y PA  62220383       PIURA  42   4  46
25069  2116  Beca CNA y PA  75159215       PIURA  32   7  39
25070  2117  Beca CNA y PA  60478854       PIURA  44   7  51
25071  2118  Beca CNA y PA  60478945       PIURA  54   4  58

[2118 rows x 7 columns]

In [140]:
df_becaCNA_2

,0,1,2,3,4,5,6,7,8,9
22809,89,Beca CNA y PA,Comunidad Nativa Amazónica,60438460,APANJORAY ELESCANO YULIANA NATALY,JUNIN,60,7,67,NaN
22810,90,Beca CNA y PA,Comunidad Nativa Amazónica,61604339,APARICIO HILARIO LUCIANA,JUNIN,94,2,96,NaN
22811,91,Beca CNA y PA,Comunidad Nativa Amazónica,61036840,APAZA ZAMUDIO CALEB OTOMIEL,JUNIN,88,2,90,NaN
22812,92,Beca CNA y PA,Comunidad Nativa Amazónica,63418030,AQUINO CAMAÑA RUDY DEYVIS,PASCO,68,10,78,NaN
22813,93,Beca CNA y PA,Comunidad Nativa Amazónica,61169694,AQUITUARI PINEDO LANDER FIDEL,LORETO,68,10,78,NaN
...,...,...,...,...,...,...,...,...,...,...
23835,1007,Beca CNA y PA,Comunidad Nativa Amazónica,61948013,PASQUEL ROJAS JHILIAN JHANNY,PASCO,58,15,73,NaN
23836,1008,Beca CNA y PA,Comunidad Nativa Amazónica,60534344,PASTOR ZAMBACHE MARIA CELESTE,PASCO,70,10,80,NaN
23837,1009,Beca CNA y PA,Comunidad Nativa Amazónica,60622963,PAUCAR DE LA CRUZ MAYLI ALEJANDRINA,JUNIN,56,7,63,NaN
23838,1010,Beca CNA y PA,Comunidad Nativa Amazónica,60465241,PAUCAR OCAÑO JOSELIN NAYELY,JUNIN,60,7,67,NaN
23839,1011,Beca CNA y PA,Comunidad Nativa Amazónica,60132376,PAUCAR RIOS JHON LENON,SAN MARTIN,46,17,63,NaN

In [141]:
df_becaCNA_2_clean = df_becaCNA_2.drop(df_becaCNA_2.columns[[2,4,9]],axis=1) # Eliminando las columnas 2,4,9
df_becaCNA_2_clean

          0              1         3           5   6   7   8
22809    89  Beca CNA y PA  60438460       JUNIN  60   7  67
22810    90  Beca CNA y PA  61604339       JUNIN  94   2  96
22811    91  Beca CNA y PA  61036840       JUNIN  88   2  90
22812    92  Beca CNA y PA  63418030       PASCO  68  10  78
22813    93  Beca CNA y PA  61169694      LORETO  68  10  78
...     ...            ...       ...         ...  ..  ..  ..
23835  1007  Beca CNA y PA  61948013       PASCO  58  15  73
23836  1008  Beca CNA y PA  60534344       PASCO  70  10  80
23837  1009  Beca CNA y PA  60622963       JUNIN  56   7  63
23838  1010  Beca CNA y PA  60465241       JUNIN  60   7  67
23839  1011  Beca CNA y PA  60132376  SAN MARTIN  46  17  63

[88 rows x 7 columns]

In [142]:
df_becaCNA_concat = pd.concat([df_becaCNA_1_clean, df_becaCNA_2_clean], ignore_index=True)

In [143]:
df_becaCNA_concat.columns = titles

In [158]:
datasets = [df_beca18_clean,    df_becaEIB_clean,   df_becaFFAA_clean,  df_becaHUA_clean,
            df_becaPTR_clean,   df_becaRPD_clean,   df_becaVRM_clean,   df_becaCNA_concat]

In [159]:
df_complete = pd.concat(datasets, ignore_index=True)

In [160]:
df_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29138 entries, 0 to 29137
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N°         29138 non-null  object
 1   MODALIDAD  29138 non-null  object
 2   DNI        29138 non-null  object
 3   REGION     29138 non-null  object
 4   PJ ENP     29138 non-null  object
 5   PJ CP      29138 non-null  object
 6   PJ FIN     29138 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

Se observa que hay registros donde no se ha leído correctamente el nombre de la REGION.

In [161]:
df_complete[df_complete.REGION=='']

          N°          MODALIDAD       DNI REGION PJ ENP PJ CP PJ FIN
3448    3413  Beca 18 ORDINARIA  60720968            72     0     72
4530    4495  Beca 18 ORDINARIA  60168545            80    12     92
6200    6165  Beca 18 ORDINARIA  80807959            78     0     78
8880    8845  Beca 18 ORDINARIA  76507510            72     0     72
10959  10924  Beca 18 ORDINARIA  60918474           102     0    102
14773  14738  Beca 18 ORDINARIA  61225074            96     5    101
15940  15905  Beca 18 ORDINARIA  61028191            70     7     77
23390    398       BECA REPARED  76414131            58     0     58
27505    574      Beca CNA y PA  60540632            62     7     69

In [162]:
faltantes = {
    '60720968': 'LIMA',
    '60168545': 'AREQUIPA',
    '80807959': 'N/H',
    '76507510': 'LIMA',
    '60918474': 'LIMA',
    '61225074': 'LIMA',
    '61028191': 'HUANCAVELICA',
    '76414131': 'LIMA',
    '60540632': 'CUSCO'
}

La columna REGION se actualiza con los valores correspondientes de faltantes en función de las llaves de la columna DNI

In [163]:
# Actualizar solo las filas donde el ID coincide con las llaves del diccionario
df_complete.loc[df_complete['DNI'].isin(faltantes.keys()), 'REGION'] = df_complete['DNI'].map(faltantes)

In [ ]:
df_complete.info()

In [169]:
# Reemplazar las cadenas "Beca 18 ", "Beca " o "BECA " con nada (vacío)
df_complete['MODALIDAD'] = df_complete['MODALIDAD'].str.replace(r'^(Beca 18 |Beca |BECA )', '', regex=True)

In [172]:
regiones = df_complete['REGION'].unique()
modalidades = df_complete['MODALIDAD'].unique()

In [173]:
mod_df = pd.DataFrame(modalidades, columns=['MODALIDAD'])
reg_df = pd.DataFrame(regiones, columns=['REGION'])

Exportamos los archivos .csv

In [174]:
mod_df.to_csv('modalidades.csv', index=False)
reg_df.to_csv('regiones.csv', index=False)
df_complete.to_csv('data.csv', index=False)